{namespace projects-managment.web.core}

{template internal-server-error-page}
    {call base}
        {param title: '500 Internal Server Error' /}
        {param user: $user /}
        {param body}
            <h1>Internal Server Error</h1>

            <p>An error has occured<p>
        {/param}
    {/call}
{/template}
